@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

@layer base {
  /* reset */
  body {
    font-family: "Montserrat", sans-serif;
  }

  img,
  video {
    block-size: auto;
    max-inline-size: 100%;
  }

  input {
    @apply py-2 px-4;
  }

  /* typography */
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl tracking-normal;
  }

  h4 {
    @apply text-xl tracking-[0.15px];
  }
}

@layer components {
  .btn {
    @apply text-sm text-inherit uppercase rounded py-2 px-4 tracking-[1.2px] hover:opacity-70;
  }

  .btn-primary {
    @apply bg-blue-500 text-white;
  }

  .btn-secondary {
    @apply bg-indigo-500 text-white;
  }

  .max-container {
    @apply max-w-screen-2xl mx-auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }

  @screen md {
    .grid-container {
      grid-template-columns: 16.87rem 1fr;
      grid-template-areas: "left-aside main";
    }
  }

  @screen lg {
    .grid-container {
      grid-template-columns: 16.87rem 1fr 23rem;
      grid-template-areas: "left-aside main right-aside";
    }
  }

  .left-aside {
    grid-area: left-aside;
  }

  .main {
    grid-area: main;
  }

  .right-aside {
    grid-area: right-aside;
  }

  .main,
  .left-aside,
  .right-aside {
    @apply h-[90vh] mt-[10vh];
  }
}
